*,
*::before,
*::after {
    box-sizing: border-box;
}
.img-fluid{
    max-width: 100%;
    max-height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.25;
    background-color: gainsboro;
}
.banner {
    text-align: center;
    background-color: rgb(180, 178, 178);
    height: 90px;
    }
   .image{
       position: relative;
   }
   .image__ime{
       display: block;
       width: 100%;  
   }
   .image__overlay{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background: rgba(0,0,0,0.6);
       color: #ffffff;
       font-family: sans-serif;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       opacity: 0;
       transition: opacity 0.25s;

   }
   .image__overlay > *{
       transform: translateY(20px);
       transition: transform 0.25s;

   }
   .image__overlay:hover{
       opacity: 1;
   }
   .image__overlay:hover> *{
    transform: translateY(0);
   }
   .image__title{
       font-size: 2em;
       font-weight: bold;
   }
   .image__description{
       font-size: 1.25em;
       margin-top: 0.25em;
   }
   .cybertruck {
    text-align: center;
    }
    .footer{
        background-color: #383E42;
        color: whitesmoke;
        text-align: center;
    }

    .ikona{
        color: black;
    }
    .iconss a i{
        color: black;
        margin: 0 10px 0 10px;
        font-size: 2em;
    }
    .footer a, .footer a:hover, .footer a:active, a:visited{
        color: #C60021;
        margin-top: 5px;
    }
    #emri{
        color: #C60021;
    }