body{
    background-color: var(--oker);
}
main{
    text-align: center;
}
:root{
   --hiri:#f5f3e6;
   --gjelbertMB:#9ca683;
   --gjelbert:#bcc6a7;
   --okerMB:#d5c68d;
   --oker:	#e4dec2;
}
nav{
    text-align: center;
    height: 160px;
    
}
.img-fluid{
    max-width: 100%;
    max-height: 100%;
}
.aside {
    background-color: var(--gjelbertMB);
    padding: 10px;
}
.footer h2{
    text-align: center;
    color: olivedrab;
}
.red{
    color: red;
    font-weight: bolder;
}